<template>
            <main class="main">
            <!-- Breadcrumb -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item"><a href="#">Admin</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
            <div class="container-fluid">
                <!-- Ejemplo de tabla Listado -->
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Bebes
                        <button type="button" @click="abrirModal('bebe','registrar')" class="btn btn-secondary">
                            <i class="icon-plus"></i>&nbsp;Nuevo
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <select class="form-control col-md-3" id="opcion" name="opcion">
                                      <option value="nombre">Nombre</option>
                                      <option value="descripcion">Descripción</option>
                                    </select>
                                    <input type="text" id="texto" name="texto" class="form-control" placeholder="Texto a buscar">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                                </div>
                            </div>
                        </div>
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>Opciones</th>
                                    <th>Nombre de la Madre</th>
                                    <th>Fecha de Nacimiento</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="bebe in arrayBebe" :key ="bebe.id_bebe">
                                    <td >
                                        <button type="button" @click="abrirModal('bebe','actualizar',bebe)" class="btn btn-warning btn-sm" >
                                          <i class="icon-pencil"></i>
                                        </button> &nbsp;
                                        <template v-if="bebe.condicion">
                                            <button type="button" class="btn btn-danger btn-sm" @click="desactivarBebe(bebe.id_bebe)">
                                                <i class="icon-trash"></i>
                                            </button>
                                        </template>
                                        <template v-else>
                                            <button type="button" class="btn btn-info btn-sm" @click="activarBebe(bebe.id_bebe)">
                                                <i class="icon"> &#10004;</i>
                                            </button>
                                        </template>
                                    </td>
                                    <td v-text="bebe.nombre_madre"></td>
                                    <td v-text="bebe.fecha_nacimiento"></td>
                                    <td>
                                        <div v-if="bebe.condicion">
                                            <span class="badge badge-success">Activo</span>
                                        </div>
                                        <div v-else>
                                            <span class="badge badge-danger">Desactivado</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <nav>
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#">Ant</a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">3</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">4</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Sig</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- Fin ejemplo de tabla Listado -->
            </div>
            <!--Inicio del modal agregar/actualizar-->
            <div class="modal fade" tabindex="-1" :class="{'mostrar':modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-primary modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" v-text="tituloModal"></h4>
                            <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="text-input">Nombre</label>
                                    <div class="col-md-9">
                                        <input type="text" v-model="nombre_madre" class="form-control" placeholder="Nombre de la madre">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="text-input">Fecha</label>
                                    <div class="col-md-9">
                                    <input type="datetime-local" v-model="fecha_nacimiento" class="form-control" placeholder="Fecha de Nacimiento">
                                    </div>
                                </div>
                                <div v-show="errorBebe" class="form-group row div-error">
                                    <div class="text-center text-error">
                                        <div v-for="error in errorMostrarMsjBebe" :key="error" v-text="error">

                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" @click="cerrarModal()">Cerrar</button>
                            <button type="button" v-if="tipoAccion==1" class="btn btn-primary" @click="registrarBebe()">Guardar</button>
                            <button type="button" v-if="tipoAccion==2" class="btn btn-primary" @click="actualizarBebe()">Actualizar</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!--Fin del modal-->
        </main>
</template>

<script>
    export default {
        data (){
            return{
                bebe_id:0,
                nombre_madre:'',
                fecha_nacimiento:'',
                arrayBebe:[],
                modal:0,
                tituloModal:'',
                tipoAccion:0,
                errorBebe:0,
                errorMostrarMsjBebe:[]
            }
        },
        methods:{
            listarBebes(){
                let me = this; 
                axios.get('/bebe').then(function (response){
                    me.arrayBebe = response.data;   
                })
                .catch(function (error){
                    console.log(response);
                });
            },
            registrarBebe(){
               /* if (this.validarBebe()) {
                    return ;
                }*/
                
                let me =this;
                axios.post('/bebe/registrar',{
                    'nombre_madre':this.nombre_madre,
                    'fecha_nacimiento':this.fecha_nacimiento
                }).then(function(){
                    me.cerrarModal();
                    me.listarBebes();
                }).catch(function (error){
                    console.log(error);
                });
            },
            actualizarBebe(){
                /*if (this.validarBebe()) {
                    return;
                }*/
                let me =this;
                axios.put('/bebe/actualizar',{
                    'nombre_madre':this.nombre_madre,
                    'fecha_nacimiento':this.fecha_nacimiento,
                    'id_bebe':this.bebe_id
                }).then(function(){
                    me.cerrarModal();
                    me.listarBebes();
                }).catch(function (error){
                    console.log(error);
                });
            },
            validarBebe(){
                this.errorBebe=0;
                this.errorMostrarMsjBebe=[];
                if (!this.nombre_madre || !this.fecha_nacimiento) this.errorMostrarMsjBebe.push("Los dos campos son obligatorios");

                if (this.errorMostrarMsjBebe.legnth) this.errorBebe=1;
                
                return this.errorBebe;
            },
            cerrarModal(){
                this.modal=0;
                this.tituloModal='';
                this.nombre_madre='';
                this.fecha_nacimiento='';
            },
            abrirModal(modelo,accion,data=[]){
                switch (modelo) {
                    case "bebe":{
                        switch(accion){
                            case'registrar':{
                                this.modal=1;
                                this.nombre_madre='';
                                this.fecha_nacimiento='';
                                this.tituloModal ='Registrar Bebe';
                                this.tipoAccion=1;
                                break;
                            }
                            case'actualizar':{
                                this.modal=1;
                                this.bebe_id = data['id_bebe'];
                                this.tituloModal = 'Actualizar Bebe';
                                this.tipoAccion = 2;
                                this.nombre_madre = data['nombre_madre'];
                                this.fecha_nacimiento = data['fecha_nacimiento'];
                                break;
                            }
                        }
                    }
                }
            },
            desactivarBebe(bebe_id){
                const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
                })
                
                swalWithBootstrapButtons.fire({
                title: 'Estas seguro de desactivar al nene?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Aceptar',
                cancelButtonText: 'No, cancelar!',
                reverseButtons: true
                }).then((result) => {
                if (result.value) {
                    let me =this;
                    console.log(bebe_id);
                    axios.put('/bebe/desactivar',{
                        'id_bebe':bebe_id
                    }).then(function(){
                        me.listarBebes();
                        swalWithBootstrapButtons.fire(
                        'Desactivado!',
                        'el bebe ha sido dado de baja',
                        'success'
                        )
                    }).catch(function (error){
                        console.log(error);
                    });
                    
                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                    'Cancelado',
                    'Your imaginary file is safe :)',
                    'error'
                    )
                }
                })
            },
            activarBebe(bebe_id){
                const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
                })
                
                swalWithBootstrapButtons.fire({
                title: 'Estas seguro de desactivar al nene?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Aceptar',
                cancelButtonText: 'No, cancelar!',
                reverseButtons: true
                }).then((result) => {
                if (result.value) {
                    let me =this;
                    console.log(bebe_id);
                    axios.put('/bebe/activar',{
                        'id_bebe':bebe_id
                    }).then(function(){
                        me.listarBebes();
                        swalWithBootstrapButtons.fire(
                        'Desactivado!',
                        'el bebe ha sido dado de baja',
                        'success'
                        )
                    }).catch(function (error){
                        console.log(error);
                    });
                    
                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                    'Cancelado',
                    'Your imaginary file is safe :)',
                    'error'
                    )
                }
                })
            }
        },
        mounted() {
           this.listarBebes();
        }
    }
</script>
<style>
    .modal-content{
        width: 100% !important;
        position: absolute !important;
    }
    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: absolute !important;
        background-color: #3c29297a !important;
    }
    .div-error{
        display: flex;
        justify-content: center;
    }
    .text-error{
        color: red !important;
        font-weight: bold;
    }
</style>