<template>
            <main class="main">
            <!-- Breadcrumb -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item"><a href="#">Admin</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
            <div class="container-fluid">
                <!-- Ejemplo de tabla Listado -->
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Madres donadoras
                        <button type="button" @click="abrirModal('madreDonadora','registrar',)" class="btn btn-secondary">
                            <i class="icon-plus"></i>&nbsp;Nuevo
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <select class="form-control col-md-3" id="opcion" name="opcion">
                                      <option value="nombre">Nombre</option>
                                      <option value="descripcion">Descripción</option>
                                    </select>
                                    <input type="text" id="texto" name="texto" class="form-control" placeholder="Texto a buscar">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                                </div>
                            </div>
                        </div>
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>opciones</th>
                                    <th>ID madre donadora</th>
                                    <th>Nombre madrea donadora</th>
                                    <th>Fecha ultima actualizacion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="madreDonadora in arrayMadreDonadora" :key="madreDonadora.id_madre">
                                    <td>
                                        <button type="button" @click="abrirModal('madreDonadora','actualizar',madreDonadora)" class="btn btn-warning btn-sm">
                                          <i class="icon-pencil"></i>
                                        </button> &nbsp;
                                        <button type="button" class="btn btn-danger btn-sm">
                                          <i class="icon-trash"></i>
                                        </button>&nbsp;
                                        <button type="button" class="btn btn-success btn-sm">
                                          <i class="icon-pencil"> Agregar prueba</i>
                                        </button>&nbsp;
                                    </td>
                                    <td v-text="madreDonadora.id_madre"></td>
                                    <td v-text="madreDonadora.nombre_donadora"></td>
                                    <td v-text="madreDonadora.updated_at"></td>
                                </tr>
                            </tbody>
                        </table>
                        <nav>
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#">Ant</a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">3</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">4</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Sig</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- Fin ejemplo de tabla Listado -->
            </div>
            <!--Inicio del modal agregar/actualizar-->
            <div class="modal fade" tabindex="-1" :class="{'mostrar': modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-primary modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" v-text="tituloModal"></h4>
                            <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="text-input">Nombre</label>
                                    <div class="col-md-9">
                                        <input type="text" v-model="nombre_donadora" class="form-control" placeholder="Nombre de la madre donadora">
                                    </div>
                                </div>
                                <div class="form-group row">
                                      <label class="col-md-3 form-control-label" for="text-input">Fecha</label>
                                      <div class="col-md-9">
                                        <input type="date" v-model="updated_at" class="form-control" min="2017-06-01T08:30" max="2017-06-30T16:30" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}" required>
                                       <!-- <input type="datetime" v-model="updated_at" class="form-control"> -->
                                    </div>
                                </div>
                                <div class="form-group row"> 
                                   <!-- <label class="col-md-3 form-control-label" type="text" name="event_datetime" class="form-control" id="form_datetime" readonly>Date </label> -->
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" @click="cerrarModal()">Cerrar</button>
                            <button type="button" v-if="tipoAccion==1" class="btn btn-primary" @click="registrarMadreDonadora()" >Guardar</button>
                            <button type="button" v-if="tipoAccion==2" class="btn btn-primary">Actualizar</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!--Fin del modal-->
            <!-- Inicio del modal Eliminar -->
            <div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-danger" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Eliminar Categoría</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Estas seguro de eliminar la categoría?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-danger">Eliminar</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- Fin del modal Eliminar -->
        </main>
</template>

<script>
    export default {
        data(){
            return{
                nombre_donadora : '',
                updated_at : '',
                arrayMadreDonadora : [],
                modal : 0,
                tituloModal :'',
                tipoAccion : 0
            }
        },
        methods: {
            listarMadreDonadora(){
                let me=this;
                axios.get('/madreDonadora').then(function (response){
                    me.arrayMadreDonadora = response.data;
                })
                .catch(function(error){
                    console.log(error);
                });
            },
            registrarMadreDonadora(){
                let me = this;
                axios.post('/madreDonadora/registrar',{
                    'nombre_donadora':this.nombre_donadora,
                    'updated_at': this.updated_at
                }).then(function(response){
                    me.cerrarModal();
                    me.listarMadreDonadora();
                }).catch(function(error){
                    console.log(error);
                });
            },
            cerrarModal(modelo, accion, data = []){
                this.modal=0;
                this.tituloModal='';
                this.nombre_donadora='';
                //poner lo de la fecha de hoy
            },
            abrirModal(modelo, accion, data = []){
                switch(modelo){
                    case "madreDonadora":{
                        switch(accion){
                            case 'registrar': {
                                this.modal=1;
                                this.tituloModal='Registrar madre donadora';
                                this.nombre_donadora='';
                                this.tipoAccion=1;
                                break;
                            }
                            case 'actualizar': {

                            }
                        }
                    }
                }
            }
        },
        mounted() {
            this.listarMadreDonadora();
        }
    }
</script>
<style >
    .modal-content{
        width: 100% !important;
        position: absolute !important;
    }
    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: absolute !important;
        background-color: #3c29297a !important;
    }
</style>